{% capture readtime -%}
{% assign t_data = page.content %} {% if post %} {% assign t_data = post.content %} {% endif %}
共<var class="num">{{ t_data | strip_html | strip_newlines | remove: " " | size }}</var>字,
约<var class="num">{{ t_data | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }}</var>分钟
{%- endcapture -%}

{% if show_realtime -%}
<div class="label-card">
    <span class="readtime"><i class="fa fa-clock-o"></i>{{ readtime }}</span>
</div>
{%- endif %}

{%- capture categories -%}
{% assign t_data = page.categories %} {% if post %} {% assign t_data = post.categories %} {% endif %}
{% for category in t_data -%}
    <a href="{{ site.navs.category.href | relative_url }}#{{ category }}" title="Category: {{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
{%- endfor %}
{%- endcapture -%}

<div class="label-card">
    <span class="categories"><i class="fa fa-th-list"></i>{{ categories }}</span>
</div>

{% capture tags -%}
{% assign t_data = page.tags %} {% if post %} {% assign t_data = post.tags %} {% endif %}
{% for tag in t_data -%}
    <a href="{{ site.navs.tag.href | relative_url }}#{{ tag }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
{%- endfor %}
{%- endcapture %}
<div class="label-card">
    <span class="page_tags"><i class="fa fa-tags"></i>{{ tags }}</span>
</div>
