/**
 * Syntax highlighting styles
 */

 .rouge-table {
    padding: none;
    margin: none;
    background-color: #4f4f4f;
    border: none;
}

.rouge-code {
    padding: 0px 0px;
    margin: none;
    background-color: #4f4f4f;
    border: none;
}

.rouge-gutter {
    padding: 0px 0px;
    margin: none;
    background-color: #4f4f4f;
    border: none;
}


code {
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 90%;
    border-radius: 3px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.06);
    border: 1px solid;
    // border: 1px solid #d7d0d2;
    font-family: Monaco, Menlo, "Microsoft YaHei Mono", Consolas, "Courier New", monospace, sans-serif;
}


pre {
    margin: 4px 0;
    padding: 4px 8px;
    // overflow-x: auto;
    word-wrap: break-word;
    /* IE 5.5-7 */
    white-space: -moz-pre-wrap;
    /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    /* current browsers */
    background-color: #4f4f4f;
    border: none;
    background: #4f4f4f;

    >code {
        margin: 0;
        padding: 0;
        font-size: 14px;
        color: #d1d1c9;
        border: none;
        background-color: #4f4f4f
    }
}


.highlight {
    border-radius: 3px;
    background: #4f4f4f;

    .hll { background: #282c34 }                                                // haha
    .c { color: #b7b3b3 } /* Comment */                                         // 02
    .k { color: #C88FD0 } /* Keyword */                                         // 04
    .n { color: #b8bfc6 } /* Name */                                            // 06
    .p { color: #b8bfc6 } /* Punctuation */                                     // 08
    .c1 { color: #DA924A } /* Comment.Single */                                 // 11
    .kd { color: #C88FD0 } /* Keyword.Declaration */                            // 16
    .kn { color: #C88FD0 } /* Keyword.Namespace */                              // 17
    .s { color: #D26B6B } /* Literal.String */                                  // 23  
    .nb { color: #f3b3f8 } /* Name.Builtin */                                   // 25
    .nc { color: #8d8df0 } /* Name.Class */                                     // 26
    .nf { color: #8d8df0 } /* Name.Function */                                  // 31
    .nn { color: #b8bfc6 } /* Name.Namespace */                                 // 33
    .nx { color: #b8bfc6 } /* Name.Other */
    .nt { color: #7575E4 } /* Name.Tag */                                       // 36
    .mi { color: #64AB8F } /* Literal.Number.Integer */                         // 42
    .s2 { color: #D26B6B } /* Literal.String.Double */                          // 47
    .si { color: #D26B6B } /* Literal.String.Interpol */                        // 50
    .s1 { color: #D26B6B } /* Literal.String.Single */
    .bp { color: #9FBAD5 } /* Name.Builtin.Pseudo */                            // 55
    .gh { color: #e6db74 } /* Generic Heading & Diff Header */
    .gu { color: #75715e; } /* Generic.Subheading & Diff Unified/Comment? */
    .gd { color: #d95050; } /* Generic.Deleted & Diff Deleted */
    .gi { color: #50e650; } /* Generic.Inserted & Diff Inserted */

    .err { color: #960050; background-color: #1e0010 }                          // haha
    .err { color: #960050; background-color: #1e0010 } /* Error */              // 03

    .l { color: #98c379 }                                                       // haha
    .l { color: #ae81ff } /* Literal */                                         // 05

    .o { color: #abb2bf }                                                       // haha
    .o { color: #f92672 } /* Operator */                                        // 07

    .cm { color: #5c6370; font-style: italic }                                  // haha
    .cm { color: #75715e } /* Comment.Multiline */                              // 09
    .cp { color: #5c6370; font-style: italic }                                  // haha
    .cp { color: #75715e } /* Comment.Preproc */                                // 10

    .cs { color: #5c6370; font-style: italic }                                  // haha
    .cs { color: #75715e } /* Comment.Special */                                // 12
    .ge { font-style: italic }                                                  // haha
    .ge { font-style: italic } /* Generic.Emph */                               // 13
    .gs { font-weight: 700 }                                                    // haha
    .gs { font-weight: bold } /* Generic.Strong */                              // 14
    .kc { color: #c678dd }                                                      // haha
    .kc { color: #66d9ef } /* Keyword.Constant */                               // 15

    .kp { color: #c678dd }                                                      // haha
    .kp { color: #66d9ef } /* Keyword.Pseudo */                                 // 18
    .kr { color: #c678dd }                                                      // haha
    .kr { color: #66d9ef } /* Keyword.Reserved */                               // 19
    .kt { color: #c678dd }                                                      // haha
    .kt { color: #66d9ef } /* Keyword.Type */                                   // 20
    .ld { color: #98c379 }                                                      // haha
    .ld { color: #e6db74 } /* Literal.Date */                                   // 21
    .m { color: #d19a66 }                                                       // haha
    .m { color: #ae81ff } /* Literal.Number */                                  // 22
    .na { color: #d19a66 }                                                      // haha
    .na { color: #a6e22e } /* Name.Attribute */                                 // 24

    .no { color: #e5c07b }                                                      // haha
    .no { color: #66d9ef } /* Name.Constant */                                  // 27
    .nd { color: #e5c07b }                                                      // haha
    .nd { color: #a6e22e } /* Name.Decorator */                                 // 28
    .ni { color: #e5c07b }                                                      // haha
    .ni { color: #f8f8f2 } /* Name.Entity */                                    // 29
    .ne { color: #e5c07b }                                                      // haha
    .ne { color: #a6e22e } /* Name.Exception */                                 // 30
    .nl { color: #e5c07b }                                                      // haha
    .nl { color: #f8f8f2 } /* Name.Label */                                     // 32
    .py { color: #e5c07b }                                                      // haha
    .py { color: #f8f8f2 } /* Name.Property */                                  // 35

    .nv { color: #e5c07b }                                                      // haha
    .nv { color: #f8f8f2 } /* Name.Variable */                                  // 37
    .ow { font-weight: 700 }                                                      // haha
    .ow { color: #f92672 } /* Operator.Word */                                  // 38
    .w { color: #f8f8f2 }                                                       // haha
    .w { color: #f8f8f2 } /* Text.Whitespace */                                 // 39
    .mf { color: #d19a66 }                                                      // haha
    .mf { color: #ae81ff } /* Literal.Number.Float */                           // 40
    .mh { color: #d19a66 }                                                      // haha
    .mh { color: #ae81ff } /* Literal.Number.Hex */

    .mo { color: #d19a66 }                                                      // haha
    .mo { color: #ae81ff } /* Literal.Number.Oct */                             // 43
    .sb { color: #98c379 }                                                      // haha
    .sb { color: #e6db74 } /* Literal.String.Backtick */                        // 44
    .sc { color: #98c379 }                                                      // haha
    .sc { color: #e6db74 } /* Literal.String.Char */                            // 45
    .sd { color: #98c379 }                                                      // haha
    .sd { color: #e6db74 } /* Literal.String.Doc */                             // 46

    .se { color: #98c379 }                                                      // haha
    .se { color: #ae81ff } /* Literal.String.Escape */                          // 48
    .sh { color: #98c379 }                                                      // haha
    .sh { color: #e6db74 } /* Literal.String.Heredoc */                         // 49
    .sx { color: #98c379 }                                                      // haha
    .sx { color: #e6db74 } /* Literal.String.Other */                           // 51
    .sr { color: #56b6c2 }                                                      // haha
    .sr { color: #e6db74 } /* Literal.String.Regex */                           // 52

    .ss { color: #56b6c2 }                                                      // haha
    .ss { color: #e6db74 } /* Literal.String.Symbol */                          // 54
    .vc { color: #e5c07b }                                                      // haha
    .vc { color: #f8f8f2 } /* Name.Variable.Class */                            // 56
    .vg { color: #e5c07b }                                                      // haha
    .vg { color: #f8f8f2 } /* Name.Variable.Global */                           // 57
    .vi { color: #e06c75 }                                                      // haha
    .vi { color: #f8f8f2 } /* Name.Variable.Instance */                         // 58
    .il { color: #d19a66 }                                                      // haha
    .il { color: #ae81ff } /* Literal.Number.Integer.Long */                    // 59
}
